* {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

body {
    min-height: 100vh;
}

.register {
    margin: 0 auto;
    width: 55%;
    text-align: center;
    border: 2px solid purple;
    border-radius: 25px;
}

.register--h2 {
    font-size: 1.5rem;
    margin-top: 3rem;
}

.register--div {
    border: 2px solid orange;
    border-radius: 25px;
    margin: 3rem 1rem;
}

.register--div input {
    border-radius: 10px;
    font-size: 0.8rem;
}

.register--form {
    margin: 2rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 3rem;
}

.register--form__divNames {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.register--form__divEmailPhone {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.register--form__label--email {
    width: 50%;
}

.register--form__email {
    width: 60%;
}

.register--form__submit {
    width: 10rem;
    margin: 0 auto;
}