

.newProject__board {
    background-color: $WHITE-BOARDS;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20vh;
    .newProject__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        .newProject__header--title {
            display: flex;
            flex-flow: row nowrap;
            gap: 10px;
            h1 {
                font-family: arial;
                font-size: 1.4rem;
                color: $GRAY_BOARDS_TITLE;
            }
        }
        p {
            font-weight: 600;
            color: $GRAY_BOARDS_CATS;
        }
    }

    .newProject__form {
        display: flex;
        flex-flow: column nowrap;
        padding: 3rem;
        gap: 5vh;
        .newTeam__form--rowOne {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 10px;
            width: 100%;
            .newTeam__form--rowOne--columnOne {
                display: flex;
                flex-flow: column nowrap;
                width: 65%;
                gap: 20px;
                .newTeam__header {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    .newProject__title {
                        width: 35%;
                    }
                    .newProject__host {
                        width: 55%;
                        .author__div{
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            height: 2.5rem;
                            p {
                                font-size: 2rem;
                            }
                        }
                    }
                }
                .newProject__description {
                    textarea {
                        width: 100%;
                        background-color: #EAECFF;
                        border-radius: 10px;
                        font-size: 1rem;
                        color: #4D4D4D;
                        outline: none;
                        padding: 1rem;
                    }
                }
            }
            .newTeam__form--rowOne--columnTwo {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: space-between;
                width: 25%;
                .newTeam__project {
                    height: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    .newTeam__project--title{
                        display: flex;
                        flex-flow: column nowrap;
                        gap: 10px;
                        h6{
                            color: #757575;
                            font-weight: 700;
                            font-size: 1.2rem;
                        }
                        p {
                            font-weight: 300;
                            color: #757575;
                            font-size: 0.8rem;
                        }
                    }
                    .newTeam__project--select{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        select {
                            width: 100%;
                            background-color: #EAECFF;
                            height: 2.5rem;
                            border-radius: 25px;
                            font-size: 1rem;
                            color: #4D4D4D;
                            outline: none;
                            text-align: center; 
                            padding: 0 2vw;
                        }
                    }
                    .newTeam__project--body {
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        gap: 10px;
                        h4 {
                            font-size: 1.2rem;
                            color: #5e5e5e
                        }
                        div {
                            background-color: #EAECFF;
                            height: 22vh;
                            width: 25vh;
                            border-radius: 20px;
                            overflow: hidden;
                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
        .newIssue__form--rowTwo {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .newIssue__form--rowTwo--columnOne{
                display: flex;
                flex-flow: column nowrap;
                gap: 30px;
                width: 60%;
                .newIssue__columnOne--rowOne{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    gap: 20px
                }
                .newIssue__columnOne--rowTwo{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    gap: 30px;
                }
            }
            .newIssue__form--rowTwo--columnTwo{
                display: flex;
                flex-flow: column nowrap;
                gap: 30px;
                .newIssue__columnTwo--rowOne{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    label {
                        display: flex;
                        flex-flow: column nowrap;
                        div{
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: center;
                        }
                    }
                }
                .newIssue__columnTwo--rowTwo{
                    .newProject__title {
                        .issue__creationDate {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
        label {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            color: #757575;
            font-weight: 700;
            font-size: 1.2rem;
            gap: 8px;
            div {
                display: flex;
                flex-flow: column nowrap;
                gap: 5px;
            }
            p {
                font-weight: 300;
                color: #757575;
                font-size: 0.8rem;
            }
            .newProject__creator--name {
                font-weight: 400;
                font-size: 1.5rem;
            }
        }
        .newProject__form--rowOne {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            gap: 5vw;
            .newProject__title, .newProject__host {
                width: 32%;
            }
        }
        .newProject__form--rowTwo {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            gap: 5.1vw;
            .newProject__description {
                width: 50%;
                textarea {
                    width: 100%;
                background-color: #EAECFF;
                border-radius: 10px;
                font-size: 1rem;
                color: #4D4D4D;
                outline: none;
                padding: 1rem;
                }
            }
            .newProject__image {
                width: 20%;
                display: flex;
                flex-flow: column nowrap;
                label {
                    height: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    .droparea {
                        background-color: #EAECFF;
                        border-radius: 20px;
                        width: 250px;
                        height: 250px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p {
                            border: 2px solid #abadbb;
                            border-radius: 15px;
                            padding: 9vh 1vw;
                            color: #adadad;
                            font-weight: 600;
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            img {
                                width: 40px;
                                height: 40px;
                            }
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
                    .active {
                        background-color: white;
                        border: 2px dashed #abadbb;
                        p {
                            background-color: white;
                            border: 2px dashed #abadbb;
                        }
                    }
                }
            }
            .newProject__dates {
                display: flex;
                flex-flow: column nowrap;
                gap: 5vh;
            }
        }
    }
}        


.new__issue--footer{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        width: 20%;
        padding: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        background-color: #7B4DFF;
        border-radius: 10px;
    }
}