.team__cards {

    width: 100%;
    min-height: 55vh;

    .team__cards--div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

}