
// MAIN

.main {

    background-image: url(../img/main_background-BIG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
    padding-bottom: 3vh;

}




