
// -------------------------------------------HOME----------------------------------------

.home__body {
    min-height: 100px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 40vh minmax(10vh, max-content) 20vh;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "homemain homemain homemain"
    "footer footer footer";
    grid-gap: 0px 0px;
}

.beats__body {
    @extend .home__body;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "beatsmain beatsmain beatsmain"
    "footer footer footer";
}

.produccion__body {
    @extend .home__body;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "prodmain prodmain prodmain"
    "footer footer footer";
}

.acerca__body {
    @extend .home__body;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "acercamain acercamain acercamain"
    "footer footer footer";
}

.contacto__body {
    @extend .home__body;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "contactomain contactomain contactomain"
    "footer footer footer";
}

.error__body {
    @extend .home__body;
    grid-template-rows: 5vh minmax(10vh, max-content) 20vh;
    grid-template-areas:
    "nav nav nav"
    "errormain errormain errormain"
    "footer footer footer"
}

//----------------------------------- SMALL SIZE---------------------------------------

@media only screen and (min-width: 360px) and (max-width: 479px) {
    body {
        grid-template-rows: 10vh 40vh minmax(10vh, max-content) 20vh;
    }
}

//----------------------------------- MEDIUM SIZE---------------------------------------

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        grid-template-rows: 10vh 40vh minmax(10vh, max-content) 20vh;
    }
}

// ------------------------------------MEDIUM-LARGE SIZE-------------------------------------

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        grid-template-rows: 10vh 40vh minmax(10vh, max-content) 20vh;
    }
}

// -------------------------------------------LARGE SIZE-----------------------------------------

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    #body {
        grid-template-rows: 2vh 50vh minmax(10vh, max-content) 23vh;
    }
}

// ----------------------------------------EXTRA-LARGE SIZE-----------------------------------------

@media only screen and (min-width: 1201px) and (max-width: 3000px) {
    #body {
        grid-template-rows: 2vh 72vh minmax(40vh, max-content) 43vh;
    }
    .error__body {
        grid-template-rows: 2vh minmax(10vh, max-content) 43vh;
    }       
}

// ----------------------------------------------4K SIZE----------------------------------------------

@media only screen and (min-width: 3000px) and (max-width: 5000px) {
    #body {
        grid-template-rows: 10vh 40vh minmax(40vh, max-content) 30vh;
    }
    .error__body {
        grid-template-rows: 2vh minmax(10vh, max-content) 30vh;
    }     
}

// ------------------------------SMALL HORIZONTAL-------------------------------



// ------------------------------MEDIUM HORIZONTAL------------------------------

@media only screen and (max-device-width : 768px) and (orientation:landscape)  {
    #body {
        grid-template-rows: 5vh 85vh minmax(30vh, max-content) 60vh;
    }
}

// ------------------------------LARGE HORIZONTAL------------------------------

@media only screen and (min-device-width: 769px) and (max-device-width: 1200px) and (orientation:landscape) {
    #body {
        grid-template-rows: 5vh 70vh minmax(30vh, max-content) 35vh;
    }
}