

.input-text {

    width: 100%;
                background-color: #EAECFF;
                height: 2.5rem;
                border-radius: 25px;
                font-size: 1rem;
                color: #4D4D4D;
                outline: none;
                text-align: center;

}