.table {
    width: 100%;
    height: 20vh;
    overflow: auto;
    display: block;
    margin: 0 auto;
    // align-items: center;
    .cell {
        display: table-cell;
        padding: 1rem;
        // padding: 0.5rem 1rem;
        // margin: 0 5rem;
    }
    .table__header {
        display: table-row;
        background-color:#EAECFF;
        font-size: 0.9rem;
        font-weight: 600;
        color: #7C7C7C;
    }
    .row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        min-height: 0;
        gap: 10px;
        .project__title {
            color: $PURPLE_BTN_VIEW;
            font-weight: 600;
        }
        .team__title {
            color: $PURPLE_BTN_VIEW;
            font-weight: 600;
        }
    }
}



.currentMembers__table {
    width: 100%;
    display: table;
    min-height: 40%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    .cell {
        display: table-cell;
        padding: 0.5rem;
        vertical-align: middle;

    }
    .currentMembers__table--header {
        display: table-row;
        background-color:#9372D9;
        font-size: 0.9rem;
        font-weight: 600;
        color: #ffffff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .row {
        display: table-row;
        align-items: center;
        vertical-align: middle;
        font-size: 0.9rem;
        color: #8E8E8E;
        font-weight: 600;
        
    }
}

