

.upperNav__h2 {
    font-size:1.9rem;
    .s {
        font-weight: bold;
        color: $GRAY_PAGETITLE;
    }
    .pace {
        font-weight: normal;
        color: $GRAY_PAGETITLE;
    }
    .t {
        font-weight: bold;
        color: $LIMEGREEN;
    }
    .rack {
        font-weight: normal;
        color: $LIMEGREEN;
    }
    .it {
        font-weight: bold;
        color: $PURPLE_TITLE;
    }
}

.s {
    font-weight: bold;
    color: $GRAY_PAGETITLE;
    font-size: 2rem;
}
.pace {
    font-weight: normal;
    color: $GRAY_PAGETITLE;
}
.t {
    font-weight: bold;
    color: $LIMEGREEN;
}
.rack {
    font-weight: normal;
    color: $LIMEGREEN;
}
.it {
    font-weight: bold;
    color: $PURPLE_TITLE;
}