
// Global Reset

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
}

a{
  color: white;
}

html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

main {
    margin-left: 230px;;
    padding: 0rem 2rem;
    padding-top: 8vh;
    
}

footer {
    margin-left: 215px;
}




