

// LIGHT THEME COLOR VARIABLES:

$WHITE : #FFFFFF;

$WHITE_BOARDS : #FAFAFA;

$GRAY-NAV-SEARCH: #F2F2F2;

$LIMEGREEN: #DBFF00;

$SALMON_BTN: #F66767;

$ORANGE_BTN: #FFD336;


// PURPLES:

$LIGHTPURPLE_CATS: #EAF6FF;

$LIGHTPURPLE_CATS_2: #EAECFF;

$LIGHTPURPLE_INPUT: #ECE8F5;

$PURPLE_TITLE : #6133E4;

$PURPLE_NAV_ACTIVE: #5743CD;

$PURPLE_NAV: #6757C8;

$PURPLE_BTN_VIEW: #5539FF;

$PURPLE_BTN_FULLLIST: #A856FA;

$PURPLE_BTN_SEEMORE: #C75EB8;

$PURPLE_LOGIN: #7D00FB;

$PURPLE_BTN_LOGIN: #7A28FF;

$PURPLE_FOOTER_NAME: #7313ED;


// GRAYS AND BLACKS: 

$GRAY_PAGETITLE: #525252;

$BLACK_NAV_UPPER: #3E3E3E;

$BLACK_NAV_UPPER_LOGOS: #4F4F4F;

$BLACK_NAV_ACTIVE: #333333;

$GRAY_NAV: #7C7C7C;

$GRAY_NAV_LOGO: #676767;

$GRAY_BOARDS_TITLE: #4D4D4D;

$GRAY_BOARDS_CATS: #7C7C7C;

$GRAY-GRAPHICS: #595959;

$GRAY_BOARDS: #636363;

$GRAY_BOARDS_FOOTER: #A5A5A5;

$MADEBY_FOOTER: #808080;

$BLACK_FOOTER: #252525;


// GRADIENTS:

$GRADIENT_SIDENAV: linear-gradient(180deg, #FFFFFF, #E8E8E8, #FFFFFF);

$GRADIENT_PURPLEORANGE_1: linear-gradient(90deg, #4200FF, #FFBE83);

$GRADIENT_PURPLEORANGE_2: linear-gradient(90deg, #FFBE83, #4200FF);

$GRADIENT_BLUEPURPLE_1: linear-gradient(90deg, #1CD6FF, #8D83FF);

$GRADIENT_BLUEPURPLE_2: linear-gradient(90deg,#8D83FF, #1CD6FF);

$GRADIENT_LBYELLOW_1: linear-gradient(90deg, #1CE4FF, #EEFF83);

$GRADIENT_LBYELLOW_2: linear-gradient(90deg,#EEFF83, #1CE4FF);

$GRADIENT_LBGREEN_FOOTER: linear-gradient(90deg, #DBFF00, #00FFF0);

$GRADIENT_LBGREEN_FOOTER_2: linear-gradient(90deg, #00FFF0, #DBFF00);

$GRADIENT_ORANGEYELLOW_1: linear-gradient(90deg, #FFE600, #FF8551);

$GRADIENT_ORANGEYELLOW_2: linear-gradient(90deg,#FF8551,#FFE600);



// ISSUE GRAPHICS DATA COLORS:

$COLOR_1: #FF7A00;

$COLOR_2: #8941FF;

$COLOR_3: #F17FF3;
